

body {
    font-family: "CircularStd";
    background-color: #F5F5DC;
  }

.btnadd{
    background-color: rgb(252, 42, 42);
    border-radius: 5em;
    color:white;
}

#styletable th{
    font-weight: bolder;
    font-family: 'Marcellus SC', serif;

}
